<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikilic.fp550apiclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".g11" />
        <activity android:name=".g12" />
        <activity android:name=".g13" />
        <activity android:name=".g14" />
        <activity android:name=".g15" />
        <activity android:name=".g16" />
        <activity android:name=".g17" />
        <activity android:name=".g18" />
        <activity android:name=".g21" />
        <activity android:name=".generic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".custom"></activity>
    </application>

</manifest>